/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@font-face {
  font-display: swap;
  font-family: Inter;
  src:local('Inter-Variable'),
      url(../fonts/Inter-Variable.woff2)format('woff2 supports variations'),
      url(../fonts/Inter-Variable.woff2)format('woff2-variations');
  
  font-weight:400 785;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
/*
*{
  outline: 1px solid yellow;
}
*/
.page {
  display: flex;
  margin:0 auto;
  max-width: 1440px;
  
  min-inline-size: 320px;
  min-block-size: 100dvb;
  
  flex-direction: column;
  color: var(--accent-color);
  align-items: center; 
  font-family: var(--main-shrift, sans-serif);
  background-image:var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
}

@supports(font-variation-settings: normal) {
  .page {
    font-family: var(--main-shrift, sans-serif);
  }
}

.header {
  display:flex;
  flex-direction: column;
  font-family: PressStart2P;
  align-items: center;
  background-color: var(--bg-color, #ffffff);
  border:1px, solid, var(--accent-color);
  margin-top: 102px;
}

.header__logo {

  color:var(--accent-color);
  margin-top: 136px;
  width:455px;
  height:65px;

}

.theme-menu {
display: flex;
margin-top: 25px;
margin-bottom: 25px;
position: relative;


}

.theme-menu__list{
  display: flex;
  flex-direction: column;
  gap:14px;
  position: relative;
  
}


.header__theme-menu {
  

}

.theme-menu__button {
  
  display:block;
  cursor: pointer;
}


.theme-menu__button:disabled  {
 
  background-color: transparent;
  opacity:0.6;
  pointer-events: none;
  transition: background-color 0.3s, opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:hover  {
  background-color: transparent; 
  opacity: 0.6;
  transition: background-color 0.3s, opacity 0.3s;
  transition-timing-function: ease;

}

.theme-menu__button:focus {
  outline: none;
  background-color: transparent; 

  opacity: 0.6;
} 



.theme-menu__button:focus-visible {
  
  background-color: transparent; 

  opacity: 0.6;
  
} 

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0px;
  height: 3px;
  margin-top: -3px;
  background-color: var(--accent-color);
  transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  
  width: 100%;
  
}




.theme-menu__button:disabled.theme-menu__button::before {
  
  content: "▶";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  left:0px;
 animation:flecha 1s ease-in-out infinite;
  
  color: var(--accent-color);
 
}




.theme-menu__item {
display:flex;
position: relative;
padding-left: 19px;

}




.title {
  display: flex;
  margin-top: 20px;
  
  font-size:23px;
  font-weight: 400;


}

.field {
  width:  var(--lenght-field);

}

.main__main {
  display:flex; 
  background-color: var(--bg-color);

  flex-direction: column;
}

.card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtitle {
font-family: inherit;  
padding-left: 10px;
padding-right: 24px;
margin-bottom: 5px;
font-weight: var(--weight-title, 700);
font-size:18px;
line-height: 21.78px;
}

.paragraf {
  display: flex;
  font-family: inherit;
  flex-direction: column;
  padding:0 25px;
  gap:27px;
  font-weight: var(--weight-paragraf, 400);
  font-size:18px;
  line-height: 21px;
}  

.image__container {
display:flex;
width: 100%;
height: 100%;
position: relative;
}

.image__load {
  display: block;
  
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 27px;
}

.image__label{
position: absolute;
top:25px;
right: 25px;
font-family: PressStart2P;
weight:400;
size:14px;
line-height:14px;
color:var(--accent-color);
mix-blend-mode: hard-light;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--t-stroke);
opacity: 0.5;
text-shadow:
  -1px 0 var(--t-stroke), 
 0 1px var(--t-stroke), 
 1px 0 var(--t-stroke), 
 0 -1px var(--t-stroke);
}

@supports((text-stroke: 1px var(--t-stroke)) or (-webkit-text-stroke: 1px var(--t-stroke))) {
  .image__label {
      -webkit-text-stroke: 1px var(--t-stroke);
      text-stroke:  1px var(--t-stroke);
      text-shadow: none;
  }
} 




.emotions {
display:flex;
margin-top: 25px;
margin-bottom: 25px;
margin-right: 25px;

align-self: flex-end;

}

.card__icon-button {
  display: flex;
  width: 39px;
  height: 38px;
  border: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__like-button {
  display: flex;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  
  
}

.card__like-button:focus {
  outline: none;
  
}

.card__like-button:focus-visible {

  box-shadow: 2px 2px 0px 2px var(--accent-color);
  transition: box-shadow 0.5s;
}

.card__like-button::before {

  content: "";
  display: block;
  width: 0px;
  height: 100%;
  transform: translate(100%);
  left: 0px;
  transform: scaleX(0);
  background-color: var(--accent-color);
  transition:  0.5s ease-in-out;
  position: absolute;
}

.card__like-button:hover::before {
  width: 100%;
  transform: scaleX(1);
  transform: translate(0);
}
.like-icon{

  cursor: pointer;
}
.sparks {
  opacity:0;
}

.core:{
  fill:none;
}

 .like-icon:hover .core {
fill: var(--heart-contour);
transition: fill 0.3s linear;
}

.main-body {
  fill:none;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition-delay: 0.03s;
  transition:fill 0.5s linear;
  }

  .like-icon:active .core {
    fill: var(--heart-color);
    transition: fill 0.3s linear;
    }

    .like-icon:active .main-body {
      fill: var(--heart-color);
      transition-delay: 0.03s;
      transition:fill 0.5s linear;
      }

      .like-icon:active .contour {
        fill: var(--heart-color);
        transition-delay: 0.06s;
        transition:fill 0.5s linear;
        }
  .heart {

  }

  .like-icon.is-liked .heart {
    animation:heart-scaling 0.1s 0.3s ease-in infinite;
    
  }
  .like-icon.is-liked .sparks {
   
    animation:heart-sparks 0.3s 0.3s ease-in infinite;
  }


.button__text {
  font-family: PressStart2P;
  weight:400;
  font-size:14px;
  line-height:12.6px;
  color:var(--text-color);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  
}

.footer {
  display: flex;
  height: min-content;
  margin: auto;
  margin-top: 54px;
  padding-bottom: 105px;
  justify-content: center;
  
}

.floppy {
  display: flex;
  width: 21px;
  height: 21px;
  color: var(--text-color);
  z-index: 2;
  mix-blend-mode: difference;
  position: relative;
}

.footer__button {
  display:flex;
  width:335px;
  height: 51px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  background-color: var(--bg-color);

}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0px 2px var(--accent-color);
  transition: box-shadow 0.5s;
}

.footer__button::before {

  content: "";
  display: block;
  width: 0px;
  position: absolute;
  height: 51px;
 
  transform: translate(100%);
  left: 0px;
  transform: scaleX(0);
  background-color: var(--accent-color);
  transition:  0.5s ease-in-out;
  position: absolute;
}

.footer__button:hover::before {
width: 100%;
  transform: scaleX(1);
  /*
  mix-blend-mode: difference;
  */
  transform: translate(0);
 
}

.dialog__mod {
  display: grid;
  position: relative;
  border-width: 1px solid var(--accent-color);
  max-inline-size: 80%;
  min-inline-size: 250px;
  position: fixed;
  inset: 0;
  
}

.dialog__mod:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog__mod::backdrop {
  content: "";
  background-color: rgb(0 0 0 / 0.6);
  /*
  backdrop-filter: blur(7px);
  */
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
} 


@media screen and (width  <=375px) {
    --lenght-field: 100%; 
}