/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wgth" var(--weight-paragraf);
  flex-direction: column;
  color: var(--accent-color);
  align-items: center;
  font-family: var(--main-shrift, sans-serif);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-shrift, sans-serif);
  }
}

.header {
  display: flex;
  flex-direction: column;
  font-family: PressStart2P, fantasy, sans-serif;
  align-items: center;
  background-color: var(--bg-color, #ffffff);
  border: 2px solid var(--accent-color);
  margin-top: 102px;
}

.header__logo {
  color: var(--accent-color);
  padding-top: 137px;
  padding-left: 5px;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  line-height: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.theme-menu {
  display: flex;
  padding-top: 25px;
  margin-bottom: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.theme-menu__button {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.theme-menu__button:disabled {
  background-color: transparent;
  opacity: 0.6;
  pointer-events: none;
  transition: background-color 0.3s, opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:hover {
  background-color: transparent;
  opacity: 0.6;
  transition: background-color 0.3s, opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus {
  outline: none;
  background-color: transparent;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  background-color: transparent;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  width: 100%;
}

.theme-menu__button:disabled.theme-menu__button::before {
  content: "▶";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  left: 0px;
  bottom: 5px;
  animation: flecha 0.5s ease-in-out infinite;
  color: var(--accent-color);
}

.theme-menu__item {
  display: flex;
  position: relative;
  padding-left: 19px;
}

.title {
  display: flex;
  padding-top: 20px;
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.field {
  width: var(--lenght-field);
}

.main__main {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 53px;
}

.card {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
}

.subtitle {
  font-family: inherit;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: var(--weight-title, 700);
  font-size: 18px;
  line-height: 21.78px;
  padding-bottom: 5px;
}

.paragraf {
  display: flex;
  font-family: inherit;
  flex-direction: column;
  padding: 0 25px;
  padding-top: 30px;
  gap: 27px;
  font-weight: var(--weight-paragraf, 400);
  font-size: 18px;
  line-height: 21px;
}

.image__container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.image__load {
  display: block;
  background-position: center;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image__label {
  position: absolute;
  top: 30px;
  right: 25px;
  font-family: PressStart2P, fantasy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--t-stroke);
  opacity: 0.5;
  text-shadow: -1px 0 var(--t-stroke), 0 1px var(--t-stroke),
    1px 0 var(--t-stroke), 0 -1px var(--t-stroke);
}

.image-free-track {
  filter: contrast(50%);
}

.image-clean-sheet {
  filter: blur(1rem);
}

.image-and-if {
  filter: opacity(0.2);
}

.image-persuit {
  filter: grayscale(100%);
}

.image-about-those {
  filter: saturate(300%);
}

.image-by-pass {
  filter: hue-rotate(100deg);
}

.image-hands-go-down {
  filter: sepia(90%);
}

.image-i-am-here {
  filter: brightness(400%) contrast(200%);
}

@supports (
  (text-stroke: 1px var(--t-stroke)) or
    (-webkit-text-stroke: 1px var(--t-stroke))
) {
  .image__label {
    -webkit-text-stroke: 1px var(--t-stroke);
    text-stroke: 1px var(--t-stroke);
    text-shadow: none;
  }
}

.emotions {
  display: flex;
  margin-top: 25px;
  margin-bottom: 24px;
  margin-right: 24px;
  background-color: transparent;
  gap: 10px;
  align-self: flex-end;
}

.card__icon-button {
  width: 39px;
  height: 38px;
  margin-left: -5px;
  border-color: transparent;
  cursor: pointer;
  position: relative;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s;
  transition-timing-function: ease;
}

.card__like-button {
  display: flex;
  width: 129px;
  height: 38px;
  border: 2px solid var(--accent-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.card__like-button::before {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  left: 0px;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  position: absolute;
}

.card__like-button:hover::before {
  width: 100%;
  transform: translate(0);
}

.like-icon {
  display: flex;
  width: 39px;
  height: 38px;
  position: absolute;
  left: 0;
  top: 0;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-property: fill;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-property: fill;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition-delay: 0.06s;
  transition: fill 0.3s linear;
}

.heart {
  z-index: 2;
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scaling 0.3s ease-in normal;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s 0.3s ease-in;
  animation-direction: alternate;
  animation-iteration-count: 1;
}

.button__text {
  font-family: PressStart2P, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  color: var(--text-color);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  height: min-content;
  margin: auto;
  margin-top: 51px;
  padding-bottom: 105px;
  justify-content: center;
}

.floppy {
  display: flex;
  width: 21px;
  height: 21px;
  color: var(--text-color);
  z-index: 2;
  mix-blend-mode: difference;
  position: relative;
}

.floppy-popover {
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--text-color);
  position: relative;
}

.footer__button {
  display: flex;
  width: clamp(320px, 100%, 336px);
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  background-color: var(--bg-color);
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.5s;
}

.footer__button::before {
  content: "";
  display: block;
  width: 0px;
  position: absolute;
  height: 51px;
  left: 0px;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}

.footer__button:hover::before {
  width: 100%;
  transform: translate(0);
}

.dialog__mod {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  background-color: var(--bg-color);
  max-inline-size: 357px;
  min-inline-size: 250px;
  position: fixed;
  inset: 0;
  flex-direction: column;
  row-gap: 30px;
  border: 2px solid var(--accent-color);
  grid-template-areas:
    "dialog-name"
    "butt";
}
.dialog__name {
  display: flex;
  width: 100%;
  margin-top: 12.5px;
  margin-left: 10px;
  padding-right: 20px;
  gap: 20px;
  font-family: PressStart2P, fantasy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  grid-area: dialog-name;
}

.dialog__button {
  display: flex;
  margin: auto;
  margin-bottom: 15.5px;
  width: 293px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  grid-area: butt;
  color: var(--accent-color);
  font-family: PressStart2P, fantasy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  text-transform: uppercase;
}

.dialog__container {
  padding-left: 0px;
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  color: var(--accent-color);
}

.dialog__text {
  width: 100%;
  margin-top: 2px;
  padding-right: 10px;
  display: flex;
  font-family: PressStart2P, fantasy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog__mod:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__mod::backdrop {
  content: "";
  background-color: rgb(0 0 0 / 0.6);
  backdrop-filter: blur(7px);
}

@media screen and (width <= 375px) {
  .field {
    width: clamp(320px, 100%, 375px);
  }

  .header__logo {
    padding-left: 0;
    font-size: clamp(2.9375rem, 2.2102rem + 3.6364vw, 3.0625rem);
    line-height: clamp(2.9375rem, 2.2102rem + 3.6364vw, 3.0625rem);
  }
  .title {
    font-size: clamp(1.3125rem, 0.5852rem + 3.6364vw, 1.4375rem);
    line-height: clamp(1.3125rem, 0.5852rem + 3.6364vw, 1.4375rem);
  }
}
